@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes loadingSpinner {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.vertical-rainbow {
	background: linear-gradient(
		to top,
		rgb(255, 0, 0) 0%,
		rgb(255, 255, 0) 16.66%,
		rgb(0, 255, 0) 33.33%,
		rgb(0, 255, 255) 50%,
		rgb(0, 0, 255) 66.66%,
		rgb(255, 0, 255) 83.33%,
		rgb(255, 0, 0) 100%
	);
}
